.category-item {
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
  margin-bottom: 3rem;
}

.category-item img {
  display: flex;
  align-items: center;
  width: 4rem;
  height: 3.5rem;
  margin-right: 0.7rem;
}

.category-item h6 {
  font-weight: bold;
}

.category-item p {
  text-align: justify;
  margin-bottom: 0.2rem;
}

.category-link {
  justify-content: center;
  text-decoration: none;
  color: #4C5FD5;
  font-size: 14px;
  font-weight: 600;
}

.category-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  .category-item {
    padding-left: 0rem;
  }

  .category-item img {
    width: 4rem;
    height: 3.5rem;
    margin-right: 1rem;
  }

  .category-item p {
    margin-bottom: 0.2rem;
  }
}