.topbar {
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  font-weight: 300;
}

.topbar-info {
  text-decoration: none; 
}

.abstract-info {
  text-decoration: none;
  color: white;
}

.go-to:hover {
  color: rgb(193, 187, 187);
}

.help:hover {
  text-decoration: underline;
}

.submit-btn {
  background-color: #000000;
  color: white;
  border: solid white  1px;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'GT America Standard', serif;
  margin: 0.4rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
}

.sign-btn {
  background-color: #4C5FD5;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-family: 'GT America Standard', serif;
  margin: 0.4rem;
  padding: 0.5rem 1rem 0.4rem 1rem;
}

.sign-btn:hover {
  background-color: white;
  color: black;
}

/* @media screen and (max-width: 425px) {

  .topbar {
    height: 80px;
  }

  .topbar-info {
    text-decoration: none;
    font-family: 'GT America Standard';
    font-size: 14px;
  }
  
  .abstract-info {
    text-decoration: none;
    color: white;
  }

  .submit-btn {
    font-size: 13px;
    margin: 0.2rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  }

  .sign-btn {
    font-size: 13px;
    margin: 0.2rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  }
} */